<!-- About Section -->
<section class="success" id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>About</h2>
        <hr class="star-light">
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4 col-lg-offset-2">
        <p>I'm currently a computer science student in Trent University. I'm interested in Data Analyst, Data Science, Bioinformatics, and Biotech. I'm currently looking for a 2024 fall internship.</p>
      </div>
      <div class="col-lg-4">
        <p>Some of my current hobbies are baking, drawing, and gardening. I love anything and everything that has matcha in it! </p>
      </div>
      <div class="col-lg-8 col-lg-offset-2 text-center">
        <a href="https://github.com/jeromelachaud/freelancer-theme" class="btn btn-lg btn-outline">
          <i class="fa fa-download"></i> Download Theme
        </a>
      </div>
    </div>
  </div>
</section>
